
popup[type=tray] { style-set: notification-tray; }
popup[type=toast] { style-set: notification-toast; }

@set notification-tray {

  :root {
    background: white;
    border: 1px solid #aaa;
    border-radius: 4dip;
    width: 300dip;
    display:none;
    transform: translate(0,0); opacity:1.0;
    font:system;
  }
  
  :root[state] {display:block;}
  :root[state=initial] { transform: translate(0,100%); opacity:0.0; } /* offstage */
  :root[state=shown]   { transform: translate(0,0);    opacity:1.0; transition: transform(quad-out,500ms) opacity(linear,500ms);  }
  :root[state=closed]  { transform: translate(100%,0); opacity:0.0; transition: transform(linear,500ms) opacity(linear,500ms);  }
  
  header { display:block; background-color: #1F90FF; color: white; padding: 4dip; flow: horizontal; }

  header caption {width: 1*;}
  header .cancel:hover { text-decoration: underline; cursor: pointer; }

  content { display:block; padding: 8dip; color: #333; }
}

@set notification-toast {
  :root {
    background-color: #00000088;
    color: white;
    border-radius: 4dip;
    display: none;
    min-width: 80dip;
    opacity: 1.0;
    font: system;
  }
  
  :root[state] {display:inline-block;}
  :root[state=initial] { opacity:0.0; } /* offstage */
  :root[state=shown]   { opacity:1.0; transition: opacity(linear,500ms);  }
  :root[state=closed]  { opacity:0.0; transition: opacity(linear,500ms);  }

  content { display:block; padding: 8dip; text-align: center; }
}

