html {background:transparent;}

article#about {
  width: 1*;
  height: 1*;
  background: url(../images/about/AboutBack.png) stretch;
  behavior: windowCommand;
  margin: 3px;
  outline: 3px glow gray 0px;
  font-family: 微软雅黑;
}

.winCmd {
  height: 25;
  width: 1*;
}

.winCtls {
  position: absolute;
  right: 3;
  top: 3;
  color: white;
  font-family: webdings;
}

.winCtls [command] {
  height: 25;
  width: 25;
  text-align: center;
  vertical-align: middle;
}

.winCtls .close[command] {
  behavior: windowCommand;
}

.close:hover {
  background-color: #E17967;  
}

#list_desc {
  color: white;
  width: 80%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 1*;
  margin-right: 1*;
}

#app_list {
  width: 80%;
  height: 140px;
  background-color: #FFFFFF60;
  margin-left: 1*;
  margin-right: 1*;
  overflow-y: scroll-indicator;
  overflow-x: hidden;
}

#app_list .app_list_item {
  flow: horizontal;
  height: 20px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#app_list .app_list_item .app_list_ver {
  position: absolute;
  right: 10px;
}

#logo {
  width: 1*;
  height: 144;
  padding-left: 1*;
  padding-right: 1*;
  background: url(../images/about/AboutLogo.png) no-repeat center;
}

article.client {
  width: 1*;
  height: 1*;
}

article#about footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  vertical-align: middle;
  text-align: center;
}

article#about footer .copyright {
}