menuLang_zh             css                     res\menuLang_zh.css
SciterVideoLib          dll                     res\SciterVideoLib64.dll
masterscript            tis                     res\masterscript.tis
sciter4d_rtl            tis                     res\sciter4d_rtl.tis
//wallpaper               tis                     res\wallpaper.tis