html 
{ 
  font:system;
  width:max-content; 
  height:min-content; 
  overflow:none;
  background-color: transparent;
}
body { 
  margin: 0;
  padding:0; 
  background-color: white; 
}

#titlebar {
  height: 30dip;
  width: 1*;
  border-bottom: 1px solid #ddd;
  flow: horizontal;
  vertical-align: middle;
}

#title {
  margin-left: 10dip;
  width: max-content;
  height: 1*;
  vertical-align: middle;
}

#close {
  font-size: 1.2em;
  font-family: webdings;
  position: absolute;
  top: 4dip;
  right: 4dip;
  height: 1*;
  behavior: clickable;
  padding: 3dip;
}

#close:hover {
  color: white;
  background-color: #E45F3B;
}

#content
{
  background-color: threedhighlight;
  padding-left:20dip;
  padding-right:20dip;
  vertical-align:middle;
  foreground-repeat: no-repeat;
  foreground-position: 16dip 50%;
  background-repeat: no-repeat;
  background-position: -10dip 50%;
  background-size: 96dip 96dip; 
  min-width:200dip;
  min-height:80dip;
  width:*;
  height:*;
  white-space:pre;
}

@media composition-supported && platform == "Windows"
{
  /* running on D2D systems */
  html 
  { 
     background-color:transparent;
  }
  #content
  {
    background-color: white;
  }
}

#content[type="information"] { 
  padding-left:96dip; 
  background-image:url(master:images\msgbox\information.png); 
  background-size: 60px 60px;   
  background-position-left: 20px; 
}
#content[type="alert"] { 
  padding-left:96dip; 
  background-image:url(master:images\msgbox\alert.png); 
  background-size: 60px 60px; 
  background-position-left: 20px; 
}
#content[type="error"] { 
  padding-left:96dip; 
  background-image:url(master:images\msgbox\error.png); 
  background-size: 60px 60px;
  background-position-left: 20px;   
}
#content[type="warning"] { 
  padding-left:96dip; 
  background-image:url(master:images\msgbox\warning.png); 
  background-size: 60px 60px;
  background-position-left: 20px; 
}
#content[type="question"] { 
  padding-left:96dip; 
  background-image:url(master:images\msgbox\question.png); 
  background-size: 60px 60px;
  background-position-left: 20px; 
}

#button-bar
{
  flow:horizontal;
  padding:10dip;
  border-spacing:10dip;
  margin:0;
  flow:horizontal;
  horizontal-align: right;
}

label { line-height:1.4em; }



